__pycache__/
checkpoints/
dist/
build/
data/
venv/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.whl
*.egg
*.log
*.sqlite3
*.db
*.DS_Store
*.env
*.venv
*.pytest_cache/
*.coverage
*.mypy_cache/
*.ckpt
*.tar
*.zip