__pycache__/
checkpoints/
dist/
build/
data/
bedlam_venv/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.whl
*.egg
*.log
*.sqlite3
*.db
*.DS_Store
*.env
*.venv
*.pytest_cache/
*.coverage
*.mypy_cache/
*.ckpt
*.tar
*.zip
demo_images/
test.ipynb
test.py
.vscode/
yolo11n.pt
results/
output_dir/